html {
    overflow-x: hidden;
}
body {
    background-color: #0F0F12;
}
.now {
    color: #8be9fd;
}
#top {
    text-decoration: none;
    margin: 5px;
    color:#f1fa8c;
    font-weight: bolder;
}
#top:hover {
    color: #8be9fd;
}
#aa {
    color:#6272a4;
    text-decoration: none;
}
#aa:hover{
    color: #8be9fd;
}