@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
* {
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    width: 100%;
    background-color: coral;
    position: absolute;
    margin: 0;
    padding: 0;
    background: linear-gradient(
    30deg,
    #de6262 47%,
    #ffb88c 100%
);
}
.title {
    font-family: ubuntu;
}
#sub {
    font-family: quicksand;
}
#menu {
    position: fixed;
    bottom: -20vh;
    margin: 0;
    padding-top: 10px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    font-size: 30px;
    color: #eeeeee;
    background-color: #272627;
    z-index: 1;
    transition: 0.5s ease;
}
#menu:hover {
    background-color: #272627; 
}
#ha {
    position: fixed;
    bottom: -20vh;
    color: #555;
    font-size: 40px;
    transition: 0.25s ease;
    padding: 10px;
}
#ha:hover {
    cursor: pointer;
    background-color: ivory;
    border-radius: 100px;
}
#home {
    color: ivory;
    transition: 0.25s ease;
    margin-left: 10px;
    margin-right: 10px;
}
#home:hover {
    background-color: ivory;
    border-radius: 100px;
    padding: 4px;
    cursor: pointer;
    color: #555;
}
#header {
    position: relative;
    top: -70vh;
    transition: 1s ease;
}
#text1 {
    position: relative;
    top: 20vh;
}
#text2 {
    position: relative;
    top: 22vh;
    font-size: 40px;
    color: #555;
    transition: 0.5s ease;
}
#text2:hover{
    background-color: #555;
    color: ivory;
    padding: 10px;
    border-radius: 100px;
}
#text3 {
    position: relative;
    font-size: 40px;
    color: #555;
    transition: 0.5s ease;
}
#text3:hover{
    background-color: #555;
    color: ivory;
    padding: 10px;
    border-radius: 100px;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
::selection {
    color: khaki;
}
a {
    text-decoration: none;
    color: #555;
}
#two {
    position: relative;
    top: 70vh;
}
#three {
    position: relative;
    top: 140vh;
}
#myBtn {
    display: block;
    position: fixed;
    bottom: 66px;
    right: -40vh;
    z-index: 99;
    font-size: 40px;
    cursor: pointer;
    color: ivory;
    background: none;
    border: none;
    transition: 0.5s ease;
  }
  
  #myBtn:hover {
   color: #555;
   background-color: ivory;
   border-radius: 100px;
  }
#aboi:hover {
    color: cornflowerblue;
}