@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
* {
    margin: 0;
}
body {
    width: 100%;
    height: 100%;
    background-color: coral;
    position: absolute;
    margin: 0;
    padding: 0;
    background: linear-gradient(
    30deg,
    #de6262 47%,
    #ffb88c 100%
);
}
.title {
    font-family: poppins;
}
.subtitle {
    font-family: quicksand;
}
#menu {
    position: fixed;
    bottom: 0vh;
    margin: 0;
    padding-top: 10px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    font-size: 30px;
    color: #eeeeee;
    background-color: #272627;
    z-index: 1;
    transition: 0.5s ease;
}
#ha {
    position: fixed;
    bottom: 0;
    color: #555;
    font-size: 40px;
    transition: 0.25s ease;
    padding: 10px;
}
#ha:hover {
    cursor: pointer;
    background-color: ivory;
    border-radius: 100px;
}
#home {
    color: #555;
    transition: 0.25s ease;
    margin-left: 10px;
    margin-right: 10px;
}
#home:hover {
    background-color: ivory;
    border-radius: 100px;
    padding: 4px;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
::selection {
    color: khaki;
}
a {
    text-decoration: none;
    color: #555;
}